{% extends "auth_base.html" %}
{% load static %}

{% block title %} Forgot Password {% endblock title %} 

{% block content %}
      {% if messages %}
          {% for message in messages %}
              {% if message.tags == 'error' %}
                  <center><h4 style="color: firebrick;">{{message}}</h4></center>
              {% else %}
                  <center><h4 style="color: dodgerblue;">{{message}}</h4></center>
              {% endif %}
          {% endfor %}
      {% endif %}
    <br/>
    <div class="login-container">
        <div class="logo">
            <img src="https://cdn-icons-png.flaticon.com/512/3898/3898082.png" alt="SportFit Logo">
            <h1>Forgot Password</h1>
            <p>Enter your email to reset password</p>
        </div>
        
        <form method="POST">
            {% csrf_token %}
            <div class="input-group">
                <input type="email" id="username" required name="email">
                <label for="email">Email</label>
            </div>
            
         
            
 
            
            <button type="submit" class="login-btn">Submit</button>
            
 
            
           
            
            <div class="signup-link">
                 Already have an account? <a href="{% url 'login' %}">Sign In</a>
            </div>
        </form>
    </div>
{% endblock content %}
