{% extends "auth_base.html" %}
{% load static %}

{% block title %} Login{% endblock title %} 

{% block content %}
      {% if messages %}
          {% for message in messages %}
              {% if message.tags == 'error' %}
                  <center><h4 style="color: firebrick;">{{message}}</h4></center>
              {% else %}
                  <center><h4 style="color: dodgerblue;">{{message}}</h4></center>
              {% endif %}
          {% endfor %}
      {% endif %}
    <br/>
    <div class="login-container">
        <div class="logo">
            {% comment %} <img src="https://cdn-icons-png.flaticon.com/512/3898/3898082.png" alt="SportFit Logo"> {% endcomment %}
            <h1>Reset Password</h1>
            {% comment %} <p>Create your account</p> {% endcomment %}
        </div>
        
        <form method="POST">
            {% csrf_token %}
       
            
            <div class="input-group">
                <input type="password" id="password" required  name="password">
                <label for="password">Password</label>
            </div>
            <div class="input-group">
                <input type="password" id="password" required  name="confirm_password">
                <label for="password">Confirm Password</label>
            </div>
    
            

            
            <button type="submit" class="login-btn">Submit</button>
            

            
            <div class="signup-link">
                Remember your password? <a href="{% url 'login' %}">Sign In</a>
            </div>
        </form>
    </div>
{% endblock content %}
